

.config-field {
  .MuiFormControl-root {
    width: 100%;
  } 

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  /* Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.hidden {
  display: none;
}

/* Smaller font on mobile */
@media (max-width: 600px) {
  .cm-editor {
    font-size: 12px;
  }
}