/* Remove arrows/spinners from number inputs (all modern browsers) */
input[type="number"] {
  appearance: textfield;        /* Standard */
  -moz-appearance: textfield;   /* Firefox fallback */
}

/* WebKit browsers: Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;      /* Standard */
  -webkit-appearance: none; /* Older WebKit */
  margin: 0;
}

.MuiMenuItem-root {
  text-transform: capitalize;
}

.MuiTableCell-root,
.MuiFormLabel-root,
.MuiTypography-root {
  &::first-letter {
    text-transform: uppercase;
  }  
}

.config-field {
  .MuiFormControl-root {
    width: 100%;
  } 
}

.hidden {
  display: none;
}

table.sortable th {
  cursor: pointer;
  user-select: none;
  position: relative;  

  /* Base style for the arrow container */
  &::after {
    margin-left: 10px; /* Space for the arrow */
    content: "▼";
    opacity: 0.3; /* Subtle when inactive */
    font-size: 0.8em;
  }

  /* Ascending state */
  &[aria-sort="asc"]::after {    
    opacity: 0.9;
  }

  /* Descending state */
  &[aria-sort="desc"]::after {
    content: "▲";    
    opacity: 0.9;
  }

}

a#tv-attr-logo{
  display: none;
}

.cm-editor {
  font-size: 13px;
}

.cm-transparent {
  .cm-editor,.cm-gutters,.cm-activeLineGutter {
    background: transparent;
  }
}

/* better styled caret */
.cm-foldGutter .cm-gutterElement {
  span {
    font-size: 0;
    &[title="Fold line"]::before {
      font-size: 12px;
      content: "▶";
    }
    &[title="Unfold line"]::before {
      font-size: 12px;
      content: "▼";
    }
  }    
}

/* Smaller font on mobile */
@media (max-width: 600px) {
  .cm-editor {
    font-size: 12px;
  }
}